@utility prose-aero {
  font-family: var(--font-geist-mono);

  --tw-prose-body: oklch(0.35 0.09 250);
  --tw-prose-headings: oklch(0.25 0.10 250);
  --tw-prose-lead: oklch(0.40 0.08 250);
  --tw-prose-links: oklch(0.45 0.15 250);
  --tw-prose-bold: oklch(0.25 0.10 250);
  --tw-prose-counters: oklch(0.50 0.08 250);
  --tw-prose-bullets: oklch(0.60 0.07 250);
  --tw-prose-hr: oklch(0.70 0.05 250);
  --tw-prose-quotes: oklch(0.30 0.09 250);
  --tw-prose-quote-borders: oklch(0.70 0.05 250);
  --tw-prose-captions: oklch(0.45 0.07 250);
  --tw-prose-code: oklch(0.25 0.10 250);
  --tw-prose-pre-code: oklch(0.90 0.03 250);
  --tw-prose-pre-bg: oklch(0.22 0.09 250);
  --tw-prose-th-borders: oklch(0.70 0.05 250);
  --tw-prose-td-borders: oklch(0.80 0.03 250);
  --tw-prose-invert-body: oklch(0.85 0.04 250);
  --tw-prose-invert-headings: oklch(0.98 0.01 250);
  --tw-prose-invert-lead: oklch(0.80 0.05 250);
  --tw-prose-invert-links: oklch(0.70 0.15 250);
  --tw-prose-invert-bold: oklch(0.98 0.01 250);
  --tw-prose-invert-counters: oklch(0.65 0.07 250);
  --tw-prose-invert-bullets: oklch(0.50 0.08 250);
  --tw-prose-invert-hr: oklch(0.35 0.07 250);
  --tw-prose-invert-quotes: oklch(0.90 0.03 250);
  --tw-prose-invert-quote-borders: oklch(0.35 0.07 250);
  --tw-prose-invert-captions: oklch(0.70 0.06 250);
  --tw-prose-invert-code: oklch(0.98 0.01 250);
  --tw-prose-invert-pre-code: oklch(0.80 0.05 250);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: oklch(0.45 0.08 250);
  --tw-prose-invert-td-borders: oklch(0.35 0.07 250);
}

@utility prose-aero-dark {
  font-family: var(--font-geist-mono);
  --tw-prose-body: oklch(0.85 0.04 250);
  --tw-prose-headings: oklch(0.98 0.01 250);
  --tw-prose-lead: oklch(0.80 0.05 250);
  --tw-prose-links: oklch(0.70 0.15 250);
  --tw-prose-bold: oklch(0.98 0.01 250);
  --tw-prose-counters: oklch(0.65 0.07 250);
  --tw-prose-bullets: oklch(0.50 0.08 250);
  --tw-prose-hr: oklch(0.35 0.07 250);
  --tw-prose-quotes: oklch(0.90 0.03 250);
  --tw-prose-quote-borders: oklch(0.35 0.07 250);
  --tw-prose-captions: oklch(0.70 0.06 250);
  --tw-prose-code: oklch(0.98 0.01 250);
  --tw-prose-pre-code: oklch(0.80 0.05 250);
  --tw-prose-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-th-borders: oklch(0.45 0.08 250);
  --tw-prose-td-borders: oklch(0.35 0.07 250);
  --tw-prose-invert-body: oklch(0.35 0.09 250);
  --tw-prose-invert-headings: oklch(0.25 0.10 250);
  --tw-prose-invert-lead: oklch(0.40 0.08 250);
  --tw-prose-invert-links: oklch(0.45 0.15 250);
  --tw-prose-invert-bold: oklch(0.25 0.10 250);
  --tw-prose-invert-counters: oklch(0.50 0.08 250);
  --tw-prose-invert-bullets: oklch(0.60 0.07 250);
  --tw-prose-invert-hr: oklch(0.70 0.05 250);
  --tw-prose-invert-quotes: oklch(0.30 0.09 250);
  --tw-prose-invert-quote-borders: oklch(0.70 0.05 250);
  --tw-prose-invert-captions: oklch(0.45 0.07 250);
  --tw-prose-invert-code: oklch(0.25 0.10 250);
  --tw-prose-invert-pre-code: oklch(0.90 0.03 250);
  --tw-prose-invert-pre-bg: oklch(0.22 0.09 250);
  --tw-prose-invert-th-borders: oklch(0.70 0.05 250);
  --tw-prose-invert-td-borders: oklch(0.80 0.03 250);
}